<template>
  <v-flex x12>
    <div class="display-1 font-weight-medium">
      CHMM tree
    </div>
    <div class="row">
      <blockquote class="blockquote">
        You can visualize and navigate the CloudHealth Monitoring Model tree.
        Click to expand!
      </blockquote>
    </div>
    <br>
    <div class="row">
      <v-treeview :items="items"></v-treeview>
    </div>
  </v-flex>
</template>

<script>
  import Chmm from '../api/Chmm'
  import * as helpers from '../helpers'

  export default {
    name: 'chmm-show',
    components: {},
    data: () => ({
      items: [],
    }),
    created() {
      this.initialize()
    },
    methods: {
      async initialize() {
        const _chmm = await Chmm.get()
        this.items = [{
          id: 'monitoring_goals',
          name: 'Monitoring goals',
          children: helpers.transformTree(_chmm.children)
        }]
      },
    },
    filters: {
      capitalize: helpers.capitalize,
      replace: helpers.replace
    }
  }
</script>
