<template>
  <v-flex xs12>
    <div class="display-1 font-weight-medium" v-if="this.monitoringRequest">
      Monitoring request for {{ this.monitoringRequest.target.name }}
    </div>
    <div class="row">
      <blockquote class="blockquote">
        Update the monitoring request.
      </blockquote>
    </div>
    <div class="row">
      <v-card v-if="this.monitoringRequest">
          <v-card-text>
              <v-layout flex row align-center>
                  <v-flex shrink>
                      <img class="mr-3" :src="monitoringRequest.target.source_logo" width="50">
                  </v-flex>
                  <v-flex grow>
                      <b>Id</b>: {{ this.monitoringRequest.target.id }} <br>
                      <b>Name</b>: {{ this.monitoringRequest.target.name }} <br>
                      <b>Source</b>: {{ this.monitoringRequest.target.source }} <br>
                      <span v-if="this.monitoringRequest.target.metadata.cluster"><b>Cluster:</b> {{ this.monitoringRequest.target.metadata.cluster }}</span> <br>
                      <b>Environment</b>: {{ this.monitoringRequest.target.environment.toLowerCase() }} <br>
                  </v-flex>
              </v-layout>

          </v-card-text>
      </v-card>
      <br><br>
      <v-card class="mx-auto" v-if="this.monitoringRequest">
        <v-sheet class="pa-3 primary">
          <v-text-field
            v-model="search"
            label="Search monitoring goals"
            dark
            solo-inverted
            hide-details
            clearable
            clear-icon="fa-times"
          ></v-text-field>
          <v-checkbox
            v-model="caseSensitive"
            dark
            hide-details
            label="Case sensitive search"
          ></v-checkbox>
        </v-sheet>
        <v-card-text>
          <v-treeview
            v-model="selectedGoals"
            :items="monitoringGoals"
            selectable
            return-object
            :search="search"
            :filter="filter"
            :open.sync="open"
          >
          </v-treeview>
        </v-card-text>
      </v-card>
      <br>
      <div class="text-md-center">
        <v-btn
          color="success"
          large
          @click="updateMonitoringRequest"
        >
          <v-icon left>fa-save</v-icon>
          Update
        </v-btn>
      </div>
    </div>
    <v-snackbar
        v-model="snackbar"
        :color="color"
        :timeout="timeout"
      >
        {{ snackbarText }}
        <v-btn
          dark
          flat
          @click="snackbar = false"
        >
          Close
        </v-btn>
    </v-snackbar>
  </v-flex>
</template>

<script>
  import Chmm from '../api/Chmm'
  import MonitoringRequests from '../api/MonitoringRequests'
  import * as helpers from '../helpers'

  const logos = {
    kubernetes: 'https://upload.wikimedia.org/wikipedia/commons/3/39/Kubernetes_logo_without_workmark.svg',
    openstack: 'https://upload.wikimedia.org/wikipedia/commons/8/80/The_OpenStack_logo.svg',
  }

  export default {
    name: 'monitoring-requests-edit',
    components: {},
    data: () => ({
      monitoringRequest: null,
      selectedGoals: [],
      monitoringGoals: [],
      search: null,
      caseSensitive: false,
      open: [],
      snackbar: false,
      color: '',
      timeout: 5000,
      snackbarText: '',
    }),

    computed: {
      filter() {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      }
    },

    async mounted() {
      await this.fetchMonitoringGoals()
      if (!this.$route.params.monitoringRequest) {
        this.monitoringRequest = await MonitoringRequests.get(this.$route.params.id)
      } else {
        this.monitoringRequest = this.$route.params.monitoringRequest
      }
      this.monitoringRequest.target.source_logo = logos[this.monitoringRequest.target.source]
      this.selectedGoals = this.monitoringRequest.current_goals
    },

    methods: {

      async fetchMonitoringGoals() {
        const _chmm = await Chmm.get()
        this.monitoringGoals = [{
          id: 'monitoring_goals',
          name: 'Monitoring goals',
          children: helpers.transformTree(_chmm.children)
        }]
        this.open = ['monitoring_goals']
      },

      async updateMonitoringRequest(){
        let _target = this.monitoringRequest.target
        delete _target.source_logo
        const _goals = helpers.extractTreeParents(this.selectedGoals).map(elem => elem.id)
        const _monitoringDefinition = {
          version: '1.0',
          monitoring_request: {
            target: _target,
            goals: _goals
          }
        }
        const _result = await MonitoringRequests.update(this.$route.params.id, _monitoringDefinition)
        if (_result.status == 'error') {
          this.color = 'error'
        } else {
          this.color = 'success'
        }
        this.snackbarText = _result.message
        this.snackbar = true
      },
    },

    filters: {
      capitalize: helpers.capitalize,
      replace: helpers.replace
    }
  }
</script>
