<template>
  <v-flex xs12>
    <div class="display-1 font-weight-medium">
      Monitoring requests
    </div>
    <div class="row">
      <blockquote class="blockquote">
        The currently available monitoring requests are listed below.
      </blockquote>
    </div>
    <div class="row">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="fa-search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="monitoringRequests"
          :loading="loading"
          :search="search"
          :pagination.sync="paginationSync"
          class="elevation-1"
        >
          <template v-slot:no-data>
            <div class="text-xs-center" v-if="!loading">
              <v-alert :value="true" color="error" icon="fa-exclamation-triangle">
                Sorry, nothing to display here :(
              </v-alert>
            </div>
            <div class="text-xs-center" v-else>Loading...</div>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="fa-exclamation-triangle">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </template>
          <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
          <template v-slot:items="props">
            <td>{{ props.item.target.name }}</td>
            <td>{{ props.item.target.source }}</td>
            <td>{{ props.item.target.environment.toLowerCase() }}</td>
            <td>
              <v-chip v-for="goal in props.item.current_goals" :key="goal" small>{{ goal | capitalize | replace('_', ' ') }}</v-chip>
            </td>
            <td>
              <v-chip v-if="props.item.status == 'Error'" label small color="red" text-color="white">
                <v-icon left>fa-times</v-icon> Error
              </v-chip>
              <v-chip v-if="props.item.status == 'Created'" label small color="grey" text-color="white">
                <v-icon left>fa-save</v-icon> Created
              </v-chip>
              <v-chip v-if="props.item.status == 'Building'" label small color="blue" text-color="white">
                <v-icon left>fa-wrench</v-icon> Building
              </v-chip>
              <v-chip v-if="props.item.status == 'Deploying'" label small color="amber" text-color="white">
                <v-icon left>fa-sync</v-icon> Deploying
              </v-chip>
              <v-chip v-if="props.item.status == 'Needs reconfiguration'" label small color="orange" text-color="white">
                <v-icon left>fa-cogs</v-icon> Needs reconfiguration
              </v-chip>
              <v-chip v-if="props.item.status == 'Needs redeployment'" label small color="cyan" text-color="white">
                <v-icon left>fa-redo</v-icon> Needs redeployment
              </v-chip>
              <v-chip v-if="props.item.status == 'Deployed'" label small color="green" text-color="white">
                <v-icon left>fa-check</v-icon> Deployed
              </v-chip>
            </td>
            <td class="text-xs-left">{{ props.item.created_at | moment("DD/MM/YYYY HH:mm:ss") }}</td>
            <td class="text-xs-left">{{ props.item.updated_at | moment("DD/MM/YYYY HH:mm:ss") }}</td>
            <td class="layout px-0">
              <v-btn flat icon color="info" @click="editMonitoringRequest(props.item)">
                <v-icon small>
                  fa-edit
                </v-icon>
              </v-btn>
              <v-btn flat icon color="error" @click="openDeleteDialog(props.item)">
                <v-icon small>
                  fa-trash
                </v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </div>
    <v-btn fixed fab bottom right color="success" :exact="true" :to="{ name: 'monitoring-requests.create' }">
      <v-icon>fa-plus</v-icon>
    </v-btn>
    <v-dialog v-model="dialogDelete" max-width="500">
      <v-card>
        <v-card-title class="headline">Delete monitoring request for &nbsp;<strong>{{ monitoringRequestToDeleteTargetName }}</strong></v-card-title>
        <v-card-text>
          Deleting a monitoring request will remove all the attached probes and the generated dashboards.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" flat="flat" @click="dialogDelete = false">
            Cancel
          </v-btn>
          <v-btn color="green" flat="flat"@click="deleteMonitoringRequest()">
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
  import Chmm from '../api/Chmm'
  import MonitoringRequests from '../api/MonitoringRequests'
  import * as helpers from '../helpers'

  export default {
    name: 'monitoring-requests-list',
    components: {},
    data: () => ({
      search: '',
      loading: false,
      polling: undefined,
      dialogDelete: false,
      monitoringRequestToDeleteTargetName: '',
      monitoringRequestToDeleteIndex: -1,
      paginationSync: {
        descending: true,
        sortBy: 'updated_at'
      },
      headers: [
        {
          text: 'Target name',
          align: 'left',
          sortable: false,
          value: 'target.name'
        },
        {
          text: 'Target source',
          align: 'left',
          sortable: false,
          value: 'target.source'
        },
        {
          text: 'Target environment',
          align: 'left',
          sortable: false,
          value: 'target.environment'
        },
        {
          text: 'Current goals',
          value: 'current_goals',
          sortable: false
        },
        {
          text: 'Status',
          value: 'status',
          sortable: false
        },
        {
          text: 'Created at',
          value: 'created_at'
        },
        {
          text: 'Updated at',
          value: 'updated_at'
        },
        {
          text: 'Actions',
          value: 'name',
          sortable: false
        }
      ],
      monitoringRequests: [],
    }),

    mounted() {
      this.initialize()
    },

    beforeDestroy(){
      clearInterval(this.polling)
    },

    methods: {
      async initialize() {
        this.fetchMonitoringRequests()
        this.polling = setInterval(this.fetchMonitoringRequests, 5000)
      },

      async fetchMonitoringRequests() {
        this.loading = true
        const _monitoringRequests = await MonitoringRequests.all({})
        setTimeout(() => {
          this.monitoringRequests = _monitoringRequests
          this.loading = false
        }, 1000)
      },

      async deleteMonitoringRequest() {
        const _index = this.monitoringRequestToDeleteIndex
        const _id = this.monitoringRequests[_index]._id
        const _result = await MonitoringRequests.delete(_id)
        this.monitoringRequests.splice(_index, 1)
        this.dialogDelete = false
        this.monitoringRequestToDeleteIndex = -1
      },

      openDeleteDialog(monitoringRequest) {
        this.monitoringRequestToDeleteIndex = this.monitoringRequests.indexOf(monitoringRequest)
        this.monitoringRequestToDeleteTargetName = monitoringRequest.target.name
        this.dialogDelete = true
      },

      editMonitoringRequest(monitoringRequest) {
        this.$router.push({
          name: 'monitoring-requests.edit',
          params: {
            id: monitoringRequest._id,
            monitoringRequest: monitoringRequest
          }
        })
      }
    },

    filters: {
      capitalize: helpers.capitalize,
      replace: helpers.replace
    }
  }
</script>
