<template>
  <v-flex xs12>
    <div class="display-1 font-weight-medium">
      Monitoring requests
    </div>
    <div class="row">
      <blockquote class="blockquote">
        Create a new monitoring request.
      </blockquote>
    </div>
    <div class="row" v-if="this.monitoringGoals">
      <v-autocomplete
         v-model="selectedTarget"
         hint="Select your target"
         :items="targets"
         label="Monitorable targets"
         item-text="id"
         return-object
         box
         chips
         :multiple=false
         persistent-hint
       >
         <template v-slot:selection="data">
            <v-chip
              :selected="data.selected"
              close
              class="chip--select-multi"
              @input="removeSelectedTarget()"
            >
              <v-avatar>
                <img :src="data.item.source_logo">
              </v-avatar>
              {{ data.item.name }}
            </v-chip>
          </template>
          <template v-slot:item="data">
            <template v-if="typeof data.item !== 'object'">
              <v-list-tile-content v-text="data.item"></v-list-tile-content>
            </template>
            <template v-else>
              <v-list-tile-avatar>
                <img :src="data.item.source_logo">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                <v-list-tile-sub-title>
                  <b>Id:</b> {{ data.item.id }} |
                  <b>Source:</b> {{ data.item.source }} |
                  <span v-if="data.item.metadata.cluster"><b>Cluster:</b> {{ data.item.metadata.cluster }} | </span>
                  <b>Environment:</b> {{ data.item.environment.toLowerCase() }}
                </v-list-tile-sub-title>
              </v-list-tile-content>
            </template>
          </template>
      </v-autocomplete>
      <br><br>
      <v-card class="mx-auto">
        <v-sheet class="pa-3 primary">
          <v-text-field
            v-model="search"
            label="Search monitoring goals"
            dark
            solo-inverted
            hide-details
            clearable
            clear-icon="fa-times"
          ></v-text-field>
          <v-checkbox
            v-model="caseSensitive"
            dark
            hide-details
            label="Case sensitive search"
          ></v-checkbox>
        </v-sheet>
        <v-card-text>
          <v-treeview
            v-model="selectedGoals"
            :items="monitoringGoals"
            selectable
            return-object
            :search="search"
            :filter="filter"
            :open.sync="open"
          >
          </v-treeview>
        </v-card-text>
      </v-card>
      <br>
      <div class="text-md-center">
        <v-btn
          color="success"
          large
          @click="sendMonitoringRequest"
        >
          <v-icon left>fa-plus</v-icon>
          Create
        </v-btn>
      </div>
    </div>
    <v-snackbar
        v-model="snackbar"
        :color="color"
        :timeout="timeout"
      >
        {{ snackbarText }}
        <v-btn
          dark
          flat
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
  </v-flex>
</template>

<script>
  import Chmm from '../api/Chmm'
  import MonitoringRequests from '../api/MonitoringRequests'
  import MonitoringTargets from '../api/MonitoringTargets'
  import * as helpers from '../helpers'
  import clonedeep from 'lodash'

  const logos = {
    kubernetes: 'https://upload.wikimedia.org/wikipedia/commons/3/39/Kubernetes_logo_without_workmark.svg',
    openstack: 'https://upload.wikimedia.org/wikipedia/commons/8/80/The_OpenStack_logo.svg',
  }

  export default {
    name: 'monitoring-requests-create',
    components: {},
    data: () => ({
      selectedTarget: {},
      selectedGoals: [],
      targets: [],
      monitoringGoals: null,
      search: null,
      caseSensitive: false,
      open: ['monitoring_goals'],
      snackbar: false,
      color: '',
      timeout: 5000,
      snackbarText: '',
    }),

    computed: {
      filter() {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      }
    },

    async mounted() {
      this.fetchMonitoringTargets()
      this.fetchMonitoringGoals()
    },

    methods: {

      async fetchMonitoringTargets() {
        let _monitoringTargets = await MonitoringTargets.all({})
        _monitoringTargets = _monitoringTargets.map(
          target => ({ ...target, source_logo: logos[target.source] })
        )
        this.targets = _monitoringTargets
      },

      async fetchMonitoringGoals() {
        const _chmm = await Chmm.get()
        this.monitoringGoals = [{
          id: 'monitoring_goals',
          name: 'Monitoring goals',
          children: helpers.transformTree(_chmm.children)
        }]
        this.open = ['monitoring_goals']
      },

      async sendMonitoringRequest(){
        const _target = { ...this.selectedTarget }
        delete _target.source_logo
        const _goals = helpers.extractTreeParents(this.selectedGoals).map(elem => elem.id)
        const _monitoringDefinition = {
          version: '1.0',
          monitoring_request: {
            target: _target,
            goals: _goals
          }
        }
        const _result = await MonitoringRequests.create(_monitoringDefinition)
        if (_result.status == 'error') {
          this.color = 'error'
        } else {
          this.color = 'success'
        }
        this.snackbarText = _result.message
        this.snackbar = true
      },

      removeSelectedTarget () {
        this.selectedTarget = {}
      },
    },

    filters: {
      capitalize: helpers.capitalize,
      replace: helpers.replace
    }
  }
</script>
