<template>
  <div>
    <h1 class="text-xs-center">
      <v-icon large color="orange darken-2">fa-sad-cry</v-icon>
      <em>Oops! You're looking something that's not found...</em>
    </h1>
  </div>
</template>

<script>
  export default {
    name: 'not-found',
    data: () => ({})
  }
</script>
