<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/varys_logo.png')"
          class="my-3"
          contain
          height="200"
        ></v-img>
        <h2 class="display-1">
          VARYS is a technology-agnostic Monitoring-as-a-Service solution that can address KPI monitoring at all levels of the Cloud stack, including the application-level.
        </h2>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({})
  }
</script>

<style>

</style>
