<template>
  <v-app id="app" app>
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" :to="item.to"
          :exact="true">
          <v-list-tile-action>
            <v-icon> {{ item.icon }} </v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> {{ item.title }} </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" class="white--text"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text">VARYS | Model-driven Monitoring-as-a-Service</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <template>
          <router-view></router-view>
        </template>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    name: 'App',
    data: () => ({
      drawer: true,
      logo: require('@/assets/varys_logo.png'),
      items: [{
          title: 'Home',
          icon: 'fa-home',
          to: {
            name: 'home'
          }
        },
        {
          title: 'CHMM tree',
          icon: 'fa-project-diagram',
          to: {
            name: 'chmm-tree.show'
          }
        },
        {
          title: 'Monitoring requests',
          icon: 'fa-chart-line',
          to: {
            name: 'monitoring-requests.list'
          }
        }
      ]
    })
  }
</script>
